<nav>
    <ul>
        <li><a href='/login'>Login</a></li>
        <li><a href='/logout'>Logout</a></li>
        <li><a href='/profile'>Current Profile</a></li>
        <li><a href='/api-docs'>Test the Hero API</a></li>
    </ul>
</nav>
